.Marketings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    flex-grow: 1;
    width: 100%;
    background: #8adfe6;
    height: auto;
}
.Marketings h1{
  font-weight: bold;
}